    <section>
      <% @rows.each do|row|%>
        <div class="row-fluid entry">
          <div class="span7">
            <iframe width="560" height="315" src="<%= row['url'] %>" frameborder="0" allowfullscreen></iframe>
            <div>
              <form class="form_buttons" method='post' action="/videos/<%= row['id'] %>">
              <button class='btn btn-small btn-primary'>Edit</button>
              </form>
              <form class="form_buttons" method='post' action='/videos/<%= row['id']%>/delete'>
              <button class="btn btn-small btn-danger">Delete</button>
              </form>
            </div>
          </div>
          <div class="span3 video_info">
            <h4><%= row['title'] %></h4>
            <p><%= row['description'] %></p>
          </div>
        </div>
      <% end %>
    </section>
