<div class="row">
  <div class="span12">
    <form class="form-horizontal" method='post' action='<%= @row.nil? ? "/new" : "/videos/#{@row['id']}/edit" %>' >
      <div class="control-group">
        <label class="control-label" for="title">Title:</label>
        <div class="controls">
          <input type="text" id="title" name='title' placeholder="Title" value="<%= @row['title'] if @row %>">
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="url">URL:</label>
        <div class="controls">
          <input type="text" id="url" name='url' placeholder="URL" value="<%= @row['url'] if @row %>">
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="url">Genre:</label>
        <div class="controls">
          <input type="text" id="genre" name='genre' placeholder="Genre" value="<%= @row['genre'] if @row %>">
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="Description">Description:</label>
        <div class="controls">
          <textarea id='description' name='description'><%= @row['description'] if @row %></textarea>
        </div>
      </div>

      <div class="control-group">
        <div class="controls">
          <button type="submit" class="btn">Save</button>
        </div>
      </div>
    </form>
  </div>
</div>